---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=1000&currency=cad&description=Example+charge&source=tok_185QL6K82N4AsEkpWPwjEEEo
    headers:
      Authorization:
      - Bearer sk_test_BP9iqhiBKwbHxpdsLjosSrtz
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_185QL7K82N4AsEkpuVyvTzbI",
          "object": "charge",
          "amount": 1000,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_185QL7K82N4AsEkp8g2vwIDn",
          "captured": true,
          "created": 1461892961,
          "currency": "cad",
          "customer": null,
          "description": "Example charge",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_185QL7K82N4AsEkpuVyvTzbI/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_185QL6K82N4AsEkp2v8Theca",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 3,
            "exp_year": 2017,
            "fingerprint": "4Q3AGR36MAvFJX3g",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Fri, 29 Apr 2016 01:22:41 GMT
recorded_with: VCR 3.0.1
