---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=1000&currency=cad&description=Example+charge&source=tok_184wwJK82N4AsEkpjFjDKQS2
    headers:
      Authorization:
      - Bearer sk_test_BP9iqhiBKwbHxpdsLjosSrtz
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_184wwKK82N4AsEkpQAnzp8Vv"
          }
        }
  recorded_at: Wed, 27 Apr 2016 17:59:08 GMT
recorded_with: VCR 3.0.1
