---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=4&card[exp_year]=2017&card[number]=4000000000000002
    headers:
      Authorization:
      - Bearer sk_test_BP9iqhiBKwbHxpdsLjosSrtz
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_184MTDK82N4AsEkp6Ln159VK",
          "object": "token",
          "card": {
            "id": "card_184MTDK82N4AsEkpafvQWUIM",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 4,
            "exp_year": 2017,
            "fingerprint": "vRc3CaRSDVzJvYkv",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "99.233.244.211",
          "created": 1461639759,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 26 Apr 2016 03:02:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=cad&description=charge+example&source=tok_184MTDK82N4AsEkp6Ln159VK
    headers:
      Authorization:
      - Bearer sk_test_BP9iqhiBKwbHxpdsLjosSrtz
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_184MTEK82N4AsEkpafuevyna"
          }
        }
  recorded_at: Tue, 26 Apr 2016 03:02:40 GMT
recorded_with: VCR 3.0.1
